.header {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
 
.nav-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
 
.nav-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}
 
.nav-link {
    color: #fff;
    text-decoration: none;
}
 
 
.nav-toggle {
    display: none;
}
 
.nav-toggle-label {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
 
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
 
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
 
.nav-toggle-label span::before {
    top: -9px;
}
 
.nav-toggle-label span::after {
    bottom: -9px;
}
 
@media (max-width: 768px) {
    .nav-menu {
        position: absolute;
        top: 70px;
        left: -100%;
        background-color: #333;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: left 0.3s ease-in-out;
    }
 
    .nav-item {
        margin: 1.5rem 0;
    }
 
    .nav-toggle-label {
        display: flex;
    }
 
    .nav-toggle:checked ~ .nav-menu {
        left: 0;
    }
 
    /* Animação do ícone para "X" */
    .nav-toggle:checked ~ .nav-toggle-label span {
        transform: rotate(45deg);
    }
 
    .nav-toggle:checked ~ .nav-toggle-label span::before {
        transform: rotate(90deg);
        top: 0;
    }
 
    .nav-toggle:checked ~ .nav-toggle-label span::after {
        transform: rotate(90deg);
        bottom: 0;
    }
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

main#main-body {
    padding: 0;
}

main {
    display: block;
    unicode-bidi: isolate;
}

div {
    display: block;
    unicode-bidi: isolate;
}

footer, nav, section {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: transparent;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1C1C1C ;
    overflow: overlay;
    color: #939393;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

@media (max-width: 768px){
    .my-account {
        padding-bottom: 0;
    }
}

.my-account {
    position: relative;
    overflow: hidden;
    padding: 180px 0 50px;
}

.gradient_bg {
    background: linear-gradient(360deg, rgba(196,33,33, 0.245) 5%, rgba(0,0,0,0) 105.86%), var(#1C1C1C);
    background-blend-mode: difference, normal;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

h1, h2, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    color:#E1FF66;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.h3 {
    color: #1C1C1C;
    font-weight: 900;
    font-size: 1.75rem;
}

h2 {
    font-size: 2rem;
}

h1 {
    font-size: 2.5rem;
}

:-webkit-any(section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 0;
    unicode-bidi: isolate;
}

@media (max-width: 768px) {
    .user-details {
        text-align: center;
        color: #fff;
        margin-bottom: 3rem;
    }
}

.user-details {
    text-align: center;
    color: #fff;
    margin-bottom: 3rem;
}

.text-uppercase {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.user-email {
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.2;
}

.account-confirmation {
    display: inline-flex;
    gap: 8px;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: #22eba3;
    background-color: transparent;
}

.no-gutters{
    margin-left: 0;
    margin-right: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.no-gutters > [class*=col-]{
    padding-right: 0;
    padding-left: 0;
}

.col-lg1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg2 {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}
@media (max-width: 768px) {
    .dashboard_card {
        border-radius: 12px;
    }
}

.dashboard_card {
    background-color: var(#E0E1E2);
    box-shadow: -3px 6px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0px 12px 12px 0px;
    color: #1C1C1C;
    height: 100%;
    margin-bottom: 0;
}

.card-body {
    border: 0;
    padding: 20px;
    overflow: auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.topbar {
    margin-bottom: 1.5rem;
}


@media (max-width: 768px) {
    .topbar-container {
        overflow-y: scroll;
        scrollbar-width: thin;
        padding-bottom: 10px;
    }
}

.topbar-container {
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .nav-panel {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
        background-color: transparent;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .nav-panels {
        border-radius: 0.25rem;
        background-color: var(#939393);
    }
    
}

.nav-panel {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    background-color: transparent;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-panels {
    border-radius: 0.25rem;
    background-color: var(#939393);
}

@media (max-width: 768px) {
    .nav-item-ac {
        background-color: var(#939393);
        border-radius: 8px;
        flex: 1 1 auto;
        text-align: center;
    }
}

.nav-item-ac {
    flex: 1 1 auto;
    text-align: center;
    background-color: #ccff00 ;
    border: solid 1px;
    box-shadow: 0px 1px 1px 0px;
}

ul {
   display: block;
   list-style-type: disc;
   margin-top: 0;
   margin-bottom: 1rem;
   margin-block-start: 1em;
   margin-inline-end: 1em;
   padding-inline-start: 40px;
   unicode-bidi: isolate;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}

@media (max-width: 768px) {
    .nav-link-ac {
        min-width: 150px;
        white-space: nowrap;
        padding: 16px 36px;
    }
}

.nav-link-ac {
    font-weight: 500;
    font-size: 15px;
    color: #333;
    display: block;
    border-radius: .25rem;
    padding: .5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

a {
    color: #F1FFB8;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.card-title {
    margin-bottom: 0.75rem;
}

