@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat;
}

.header {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-weight: bold;
}
 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;  
}
 
.nav-logo img{
    height: 30px;
    width: 35px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}
 
.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover{
   color: #CCFF00;
}
 
 
.nav-toggle {
    display: none;
}
 
.nav-toggle-label {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}
 
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
 
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
 
.nav-toggle-label span::before {
    top: -9px;
}
 
.nav-toggle-label span::after {
    bottom: -9px;
}
 
@media (max-width: 768px) {
    .nav-menu {
        position: absolute;
        top: 70px;
        left: -100%;
        background-color: #333;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: left 0.3s ease-in-out;
    }
 
    .nav-item {
        margin: 1.5rem 0;
    }
 
    .nav-toggle-label {
        display: flex;
    }
 
    .nav-toggle:checked ~ .nav-menu {
        left: 0;
    }
 
    /* Animação do ícone para "X" */
    .nav-toggle:checked ~ .nav-toggle-label span {
        transform: rotate(45deg);
    }
 
    .nav-toggle:checked ~ .nav-toggle-label span::before {
        transform: rotate(90deg);
        top: 0;
    }
 
    .nav-toggle:checked ~ .nav-toggle-label span::after {
        transform: rotate(90deg);
        bottom: 0;
    }
}
 
.main{
    display: flex; /* Define o contêiner como um flexbox */
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; 
}

.banner{
    background-image: url(/img/bannertest.png);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    width: 100%;
}

.texto h1{
    color: #CCFF00;
    font-weight: bold;
    font-size: 58px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 120px;
    text-shadow: 1px 1px 2px rgba(204, 255, 0, 1);
}

button{
    display: flex; /* Transforma o botão em um elemento de bloco */
    margin: auto;
    padding: 30px; /* Exemplo de espaçamento */
    margin-top: 20px;
    background-color: #CCFF00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-inscreva-se{
    background: #CCFF00;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    
}

.button-inscreva-se:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #D6FF33;
    transform: translateY(-2px);
}

#footer {
    background-color: #111;
    color: #939393;
    padding: 40px 0;
    margin-top: 50px;
}
 
footer img {
    width: 50%;
}
 
.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
 
.flex-column {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
 
.footer_menu {
    flex: 1;
    min-width: 200px;
}
 
.menu {
    list-style: none;
    padding: 0;
}
 
.text-uppercase {
    text-transform: uppercase;
    margin-bottom: 1rem;
}
 
.menu-item h5 {
    color: #E1FF66;
    margin-bottom: 15px;
}
 
.menu-item-children {
    color: #939393;
    text-decoration: none;
    transition: color 0.3s;
}
 
.menu-item-children:hover {
    color: #ccff00;
}
 
.align-text {
    text-align: center;
}











